
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: sans-serif;
}

#nav-bar
{
	position: sticky;
	top:0;
	z-index: 10;
}

.navbar-brand
{
	position: relative;
	left: 40px;
	color: #87CEFA !important;
}

.navbar
{
	background-image: linear-gradient(to right,	#708090,#F5F5F5);

	padding:0 !important 
}

.navbar-nav li
{
	padding: 0 10px;

}

.navbar-nav a
{
	color: #FFFFFF !important; 
	font-weight: 600;

}

.fa-bars
{
	color:#FFFFFF;
	font-size: 30px !important;
}


.container
{
	background-image: linear-gradient(to right,	#708090,#F5F5F5);
	padding-top:5%;

	color:#FFFFFF;
}


